
<!-- Page Content  -->
<div id="content">
  <!-- logo -->
  <div class="d-flex justify-content-center">
    <%= image_tag("logo_genx", height: '100', width: '100') %>
  </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <!-- Collapse sidebar button -->
            <button type="button" id="sidebarCollapse" class="btn btn-info">
                <i class="fas fa-align-left"></i>
                <span></span>
            </button>
            <!-- Filter button -->
            <%= link_to "Offer an experience!", "#", class: "btn btn-ghost" %>
            <div>
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#"><i class="fas fa-filter"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- The cards model -->
    <div class="notification">
      <p>Experience</p>
      <div class="notification-content">
        <p>Name</p>
      </div>
      <div class="notification-content">
        <p>Age</p>
      </div>
      <div class="notification-content">
        <p>Language</p>
      </div>
      <div class="notification-content">
        <p>Skill</p>
      </div>
    </div>
    <!-- The Cards -->
    <% @experiences.each do |experience| %>
      <div class="notification">
        <img src='https://media.istockphoto.com/photos/portrait-of-classic-grumpy-old-man-picture-id987461788?k=6&m=987461788&s=612x612&w=0&h=m3SoaVyz2tCwB8fbanUiWqvHRAXVniXKuLFKyPEdIx4=' class="avatar-large mx-2" />
        <div class="notification-content">
          <p>Name</p>
        </div>
        <div class="notification-content">
          <p>Age</p>
        </div>
        <div class="notification-content">
          <p>Language</p>
        </div>
        <div class="notification-content">
          <p>Skill</p>
        </div>
      </div>
    <% end %>
    <div class="line"></div>

</div>
