<div class="footer">
  <div class="footer-copyright">
    Meet the team!
  </div>
  <div class="justify-content-center">
    <div class="footer-links">
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/caiazzo14", class: "avatar-large", alt: "avatar-large" %>
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/Kakinho17", class: "avatar-large", alt: "avatar-large" %>
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/Nicolas1150", class: "avatar-large", alt: "avatar-large" %>
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/vittav", class: "avatar-large", alt: "avatar-large" %>
    </div>
  </div>
</div>
