<div class="footer">




  <div class="container justify-content-center align-content">


  <div class="footer-copyright w-25">
  </div>


    <div class="footer-links">
      Meet the Team
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/caiazzo14", class: "avatar-large", alt: "avatar-large" %>
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/Kakinho17", class: "avatar-large", alt: "avatar-large" %>
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/Nicolas1150", class: "avatar-large", alt: "avatar-large" %>
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/vittav", class: "avatar-large", alt: "avatar-large" %>
    </div>



  </div>
</div>
