<div class="avatar-bordered d-flex">
  <%= image_tag("old_man") %>
  <p>Current_user.name</p>
</div>

<ul class="list-unstyled components">
  <li>
      <a href="#" class="fas fa-user-friends">  My experiences</a>
  </li>
  <li>
      <a href="#" class="fas fa-chart-line">  My activities</a>
  </li>
  <li>
      <a href="#" class="fas fa-cog">  Settings</a>
  </li>
</ul>
<%= link_to 'Sign-out', destroy_user_session_path(@current_user),
          data: {:confirm => 'Are you sure?'}, :method => :delete %>
