<div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>PUT AVATAR HERE</h3>
            </div>

            <ul class="list-unstyled components">
                <li>
                    <a href="#" class="fas fa-user-friends">  My experiences</a>
                </li>
                <li>
                    <a href="#" class="fas fa-chart-line">  My activities</a>
                </li>
                <li>
                    <a href="#" class="fas fa-cog">  Settings</a>
                </li>
            </ul>
        </nav>

        <!-- Page Content  -->
        <div id="content">
          <!-- logo -->
          <div class="d-flex justify-content-center">
            <%= image_tag("logo_genx") %>
          </div>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <!-- Collapse sidebar button -->
                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <i class="fas fa-align-left"></i>
                        <span></span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>
                    <!-- Filter button -->
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="#"><i class="fas fa-filter"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- The cards model -->
            <div class="notification">
              <p>Experience</p>
              <div class="notification-content">
                <p>Name</p>
              </div>
              <div class="notification-content">
                <p>Language</p>
              </div>
              <div class="notification-content">
                <p>Skill</p>
              </div>
            </div>
            <!-- The Cards -->
            <div class="notification">
              <img src='https://media.istockphoto.com/photos/portrait-of-classic-grumpy-old-man-picture-id987461788?k=6&m=987461788&s=612x612&w=0&h=m3SoaVyz2tCwB8fbanUiWqvHRAXVniXKuLFKyPEdIx4=' class="avatar-large mx-2" />
              <div class="notification-content">
                <p>Name</p>
              </div>
              <div class="notification-content">
                <p>Language</p>
              </div>
              <div class="notification-content">
                <p>Skill</p>
              </div>
            </div>
            <div class="line"></div>

        </div>
    </div>

    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <!-- jQuery Custom Scroller CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#sidebar").mCustomScrollbar({
                theme: "minimal"
            });

            $('#sidebarCollapse').on('click', function () {
                $('#sidebar, #content').toggleClass('active');
                $('.collapse.in').toggleClass('in');
                $('a[aria-expanded=true]').attr('aria-expanded', 'false');
            });
        });
    </script>
