<!-- <div class="wrapper"> -->
        <!-- Sidebar  -->
  <!-- Here was the sidebad call -->
<!--   <nav id="sidebar">
      <%#= render "/pages/sidebar" %>
  </nav> -->
  <%= render '/pages/navbar' %>
    <!-- Page content is displayed _content.html.erb -->
  <%= render "/pages/content" %>
<!-- </div> -->
