.navbar-lewagon {
  justify-content: space-between;
  background-color: transparent;
  transition: 0.5s background-color ease;
  top: 0;
  a {
    color: white
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
  background-color: white;
  background-position: center;
  // border-radius: 50%;
  opacity: 0.6;
}

.navbar-lewagon-white {
  background-color: white;
  a {
    color: black;
  }
}
