.notification {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  background: white;
  padding: 8px 16px;
  border: 1px solid rgb(235,235,235);
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.notification .notification-content {
  flex-grow: 1;
  padding: 0 24px;
  img {
      width: 70px;
      height: 70px;
      object-fit: contain;
      object-position: 20% 10px;
      overflow:hidden;
      border-radius: 20%;
  }
}

.notification p {
  margin: 0;
  line-height: 1.4;
}

.notification small {
  color: #999999;
  font-weight: bold;
}
.notification .notification-actions {
  opacity: 0;
  display: flex;
  transition: ease .3s;
}

.notification:hover {
  background: #F5F9E9;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.notification .notification-actions a {
  color: #999999;
  margin-left: 16px;
  font-size: 14px;
}

.notification .notification-actions a:hover {
  color: #555555;
}

.notification-show {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  background: white;
  padding: 8px 16px;
  border: 1px solid rgb(235,235,235);
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
