/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    // background: #FFF8F0;
    // background: #503D3F;
    // background: #29342A;
    background: #1B593C;
    color: #222;
    transition: all 0.3s;
    border-right: 1px solid #ddd;
    margin-left: -250px;
}

#sidebar.active {
  margin-left: 0;
}

#sidebar .sidebar-header {
    padding: 20px;
    // background: #FFF8F0;
    // background: #503D3F;
    // background: #29342A;
    background: #1B593C;
}

#sidebar ul.components {
    padding: 50px 0;
}

#sidebar ul p {
    color: #222;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px 0px 10px 30px;
    font-size: 15px;
    display: block;
}

#sidebar ul li a:hover {
    color: #fff;
    background-color: #728087;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #222;
    background: #FAFAFA;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #FAFAFA;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #FAFAFA;
    color: #191919;
}

a.article,
a.article:hover {
    background: #728087 !important;
    color: #222 !important;
}
